* {
    box-sizing: border-box;
}

.app-header {
    text-align: center;
    width: 100%;
    background: #333333;
    color: #FFF;
    padding: 12px;
}

.left-panel {
    float: left;
    padding: 12px;
    background: #0099ff;
    width: 300px;
    height: calc(100% - 45px);
}

.main-content {
    float: left;
    padding: 12px;
    background: #F2F2F2;
    width: calc(100% - 300px);
    height: calc(100% - 45px);
}

.pointer {
    cursor: pointer;
}

.welcome {
    text-align: center;
}
